# NiProxy host information
niproxy_host=localhost
niproxy_port=8082

# Proxy http connection timeout in milliseconds, 0 = never, default: 0
http_connection_timeout=60000

# Under this directory all published NDOs are stored. 
# Note that every time NiProxy is launched, it will clear this directory, i.e., all existing publications are deleted. 
# UNIX like path
#cache_root_dir=/tmp/nicache/
# WINDOWS like path
cache_root_dir=D:/tmp/nicache/
# Size of publication database 
max_size_of_im_publish_db=1000

# Number of IOReactor workers
ioreactor_workers=5

# Log4j configuration file path, absolute or relative to the folder where monitor is run
log4j_config_file=configuration/log4j.xml