# @package ni
# @file MANIFEST.in
# @brief Python package manifest template for Python nilib.
# @version $Revision: 0.00 $ $Author: elwynd $
# @version Copyright (C) 2012 Trinity College Dublin and Folly Consulting Ltd
#       This is an adjunct to the NI URI library developed as
#       part of the SAIL project. (http://sail-project.eu)
# 
#       Specification(s) - note, versions may change
#           - http://tools.ietf.org/html/draft-farrell-decade-ni-10
#           - http://tools.ietf.org/html/draft-hallambaker-decade-ni-params-03
#           - http://tools.ietf.org/html/draft-kutscher-icnrg-netinf-proto-00
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#    
#        - http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# 
# ===============================================================================#
# 
# 
# @code
# Revision History
# ================
# Version   Date       Author         Notes
# 0.3	  22/11/2012 Elwyn Davies   Added niwsgiserver.py, netinf_ver.py and test dir.
# 0.2	  19/11/2012 Elwyn Davies   Added nihandler.py, httpshim.py and wgsishim.py.
# 0.1	  15/10/2012 Elwyn Davies   Moved LICENSE and README to doc directory.
# 0.0	  13/10/2012 Elwyn Davies   Created.
# @endcode

# Just have to specify the data, doc and test files explicitly
recursive-include nilib/data *
recursive-include nilib/doc *
recursive-include nilib/test *
